.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 130px;
    background: linear-gradient(lightgreen,lightblue);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin: 5px;
}