/* p::first-line{
    color:orangered;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 4px 8px blueviolet;
}

h2::before{
    content:"🙌 The";
}

h2::after{
    content:"  is great";
} */

/* h2::selection{
    color:yellow;
    background-color: orangered;
} */

a:link{
    color:red;
    text-decoration: none;
}

a:hover{
    color:green;
    font-size:30px;
    font-weight: bold;
    background-color: yellow;
}

a:visited{
    color:blue;
}

a:active{
    color:brown;
}

/* input:checked+label{
    color:blue;
    text-decoration:line-through;

} */

input:focus{
    outline:none;
    background-color:orange;
    border:2px solid red;
    border-radius: 20px;
}

p:first-child{
    color:blue;
}

p:last-child{
    color:blue;
}

p:nth-child(3){
    color:blue;
}

p:nth-of-type(2){
    color:red;

}